<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Automating Tasks with UNIX Shell and Finding Things<br>
                                Navigating and working with Files and Directories
                            </td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>
                            Setting up and working with Git<br>
                            Version Control with Git<br>
                            Collaborating with Git
                           </td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Setting up and working with Python to build programs by Dinah<br>
                            Python Fundamentals by Dinah
                            </td> </tr>
      <tr> <td>14:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Python Fundamentals by Dinah</td> </tr>
      <tr> <td>16:00</td>  <td>END of DAY 1</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>RECAP on Python Fundamentals by Annajiat</td> </tr>
      <tr> <td>09:45</td>  <td>Analysing and visualising Tabular Data by Annajiat</td> </tr>
      <tr> <td>10:50</td>  <td>Morning Break</td> </tr>
      <tr> <td>11:00</td>  <td>Analysing and Visualising Tabular Data (Continued) by Annajiat</td> </tr>
      <tr> <td>12:00</td>  <td>Lists and Loops</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:30</td>  <td>Conditionals, functions and best practices</td> </tr>
      <tr> <td>14:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
